<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" name="nombre" [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" required minlength="5" type="text" placeholder="Nombre" #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" [class.is-invalid]="apellido.invalid && apellido.touched" [ngModel]="usuario.apellido" name="apellido" ngModel required minlength="5" #apellido="ngModel">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input class="form-control" type="email" required placeholder="Correo electrónico" [class.is-invalid]="correo.invalid && correo.touched" [ngModel]="usuario.correo" ngModel name="correo" #correo="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">El correo es obligario</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
            <select class="form-control" name="pais" [disabled]="paises.length === 0" [class.is-invalid]="pais.invalid && pais.touched" [ngModel]="usuario.pais" #pais="ngModel" required>
                <option *ngFor="let pais of paises" [value]="pais.codigo" >{{pais.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Genero</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="genero" value="M" ngModel required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
                <label class="form-check-label">Masculino</label>
            </div>

            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="genero" value="F" ngModel required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
                <label class="form-check-label">Femenino</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>